.home {
    background: linear-gradient(rgb(45, 154, 64), rgb(145, 176, 135));

    background-size: cover;
}
.container {
    color: white;
}
@media only screen and (min-width: 700px) {
    .home {
        height: 100vh;
    }
}
